/* Color Swatch------------------------------------------------------------------------
		Text		#E6E6FF
		Black		#000
		Purple		#660099
		Yellow		#FFFF00	
-------------------------------------------------------------------------------------*/
body{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 100%;
	line-height: 1.2;
	max-width: 960px;
	margin: 0 auto;
	padding: 0; 
	background: url(../images/gradient_bg.jpg);
}

/* Headers-----------------------------------------------------------------------*/
h1, h2, h3,h4{
	font-family: 'Berkshire Swash', cursive;
	font-size: 2em;
	text-shadow: 4px 4px 4px #aaa;
	margin-bottom: 0;
	padding-bottom: 0;
	text-align: center;
	margin: 0;
	padding: 1.041666666%; /* 10px */
}

#branding{
	text-indent: -90000px;
}


/* 
Links-------------------------------------------------------------------------*/
a:link{
	color: #4B0082;
}
a:visited{
	color: #C71585;
}
a:hover{
	color: #0000FF;
}
a:active{
	color: #228B22;
}

/* Main Nav----------------------------------------------------------------------*/

#logo{
	float: left;
	display: block;
	max-width: 100%;
}

nav ul{
	width: 95.3125%; /* 915px/960px */
	list-style-type: none;
	padding-left: 1.041666666%; /* 10px */
	margin: 6.25% 0 0 8.333333333%; /* 60px 0px 0px 80px */
}

nav ul li{
	width: 21.25%; /* 170px/800px */
	font-size: 2.25em; /* 36px/16px */
	float: left;
	overflow: hidden;
	margin-bottom: 1.041666666%; /* 10px */
}

nav ul li a{
	text-decoration: none;
	background: #660099;
	display: block;
	height: 44px;
	line-height: 44px;
	text-align: center;
	border: 2px outset #333;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #333;
}

nav ul li a:link{
	color: #E6E6FF;
}

nav ul li a:visited{
	color: #C71585;
}

nav ul li a:hover{
	color: #000;
	background: #FFFF00;
}

nav ul li a:active{
	color: #FFFF00;
	background: #000;
}


/* Contact Table------------------------------------------------------------*/
section{
	width: 97.791667%;
	background-color: #660099;
	border: 2px outset #333;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #333;
	color: #E6E6FF;
	padding: 0 1.0416667% 1.0416667%; /* 0px 10px 10px */
	margin-bottom: 1.0416667%;
	clear: left;
	float: left;	
}

table{
	border-collapse: collapse;
	border: 2px solid #000;
	margin-left: 10.375%; /*107px*/
}

th{
	text-align: left;
	background: #000;
	padding: 0.3em;
	font-size: 1.5em;
}

td{
	border: 1px solid #000;
	padding: 0.3em;
	font-size: 1.25em;
}

.odd{
	background-color: #999;
}

/* Contact Form-----------------------------------------------------------------------------*/

form{
	width: 91.791667%; /* 939px */
	background-color: #000;
	border: 2px outset #333;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #333;
	color: #E6E6FF;
	padding: 1.0416667% 4.16666667% 2.1299255% 4.16666667%; /* 0px 10px 10px */
	margin-bottom: 2.083333333%;
	clear: left;
	overflow: hidden;
}

label{
	font-size: 1.25em;
}

fieldset{
	border: none;
}

#user_details{
	float: left;
	width: 230px;  
}

#user_message{
	float: right;
	width: 405px;
}

input:focus{
	background: #DDA0DD;
}

textarea:focus{
	background: #DDA0DD;
}

input{
	width: 75%;
}

input textarea{
	padding: 1.06%;
	margin: 4px 0 10px 0;
	font-size: 1em;
	border: 1px solid #000;
}

h3{
	margin: 0;
	padding: 0;
}



.button{
	width: 50%;
	background-color: #FFFF00;
	border: 2px outset #333;
	border-radius: 10px;
	box-shadow: 2px 2px 2px;
	font-size: 1.5em;
	margin-left: 25%;
	margin-top: 2.1299255%;
}

/* Advertising-------------------------------------------------------------------*/

aside{
	width: 100%; 
	clear: left;
	background-color: #888;
	border: 2px outset #333;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #333;
	color: #E6E6FF;
	margin-bottom: 2.083333333%;
}

/* Footer------------------------------------------------------------------------*/

.copyright{
	width: 97.791667%; /* 936px/960px */
	background-color: #000;
	border: 2px outset #333;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #333;
	font-size: 1em;
	color: #E6E6FF;
	text-align: center;
	padding: 1.0416667%; /* 10px */
}



/* =Media Queries-----------------------------------------------------------*/



/* Tablet Portrait size to standard 960 (devices and browsers) */
@media screen and (min-width:768px)and (max-width:959px)

{

#logo{
	width: 20%;
}

h1,h2,h3,h4{
	font-size: 1.75em;
}

nav ul{
	max-width: 100%; 
	margin: 0 0 1.0416667% 0%; 
	float: none;
}

nav ul li{
	max-width: 20%; 
	font-size: 1.75em;
}

section{
	width: auto; 
	float: none; 
	margin-bottom: 1.0416667%;
	padding: 1.0416667%;
}

table{
	margin: 0;
}

th{
	font-size:  1.5em;
}

td{
	font-size: 1.5em;
}

#user_details{
	float: left;
}

#user_message{
	float: right;
}

label{
	font-size: 1.25em;
}

textarea{
	width: 75%;
}

.button{
	width: 51%; 
	margin-left: 12.5%;
}

}



/* Mobile Landscape size to tablet portrait (devices and browsers) */
@media only screen and (min-width:480px)and (max-width:767px)

{

#logo{
	width: 20%;
}

h1,h2,h3,h4{
	font-size: 1.75em;
}

nav ul{
	max-width: 100%; 
	margin: 0 0 1.0416667% 5%; 
	float: none;
}

nav ul li{
	max-width: 20%; 
	font-size: 1.5em;
}

section{
	width: auto; 
	float: none; 
	margin-bottom: 1.0416667%;
	padding: 1.0416667%;
}

table{
	margin: 0;
}

th{
	font-size:  1.25em;
}

td{
	font-size: 1.25em;
}

#user_details{
	float: none;
}

#user_message{
	float: none;
}

label{
	font-size: 1.15em;
}

textarea{
	width: 50%;
}

.button{
	width: 51%; 
	margin-left: 0;
}

}

/* Mobile Portrait size to Mobile Landscape size (devices and browsers) */
@media only screen and (max-width:479px)

{

#logo{
	display: none;
}

h1,h2,h3,h4{
	font-size: 1.25em;
}

nav ul{
	max-width: 100%; 
	margin: 0 0 1.0416667% 11%; 
	float: none;
}

nav ul li{
	max-width: 20%; 
	font-size: 1.25em;
}

section{
	width: auto; 
	float: none; 
	margin-bottom: 1.0416667%;
	padding: 1.0416667%;
}

table{
	margin: 3.5%;
	
}

.remove{
	display: none;
}

th{
	font-size:  1.25em;
}

td{
	font-size: 1.25em;
}

#user_details{
	float: none;
	margin-left: 18%;
}

#user_message{
	float: none;
	margin-left: 18%;
}

label{
	font-size: 1.15em;
}

textarea{
	width: 50%;
}

.button{
	width: 51%; 
	margin-left: 0;
}

}