/* Color Swatch------------------------------------------------------------------------
		Text		#E6E6FF
		Black		#000
		Purple		#660099
		Yellow		#FFFF00	
-------------------------------------------------------------------------------------*/
body{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 100%/1.2;
	max-width: 960px;
	margin: 0 auto;
	padding: 0; 
	background: url(../images/gradient_bg.jpg);
}

li{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.25em; /* 20px */
	line-height: 1.2;
	margin-bottom: 0;
}

p{
	font-size: 1.25em; /* 20px */
	margin: 0 0 1.041666666% 0;
}


/* 
Links-------------------------------------------------------------------------*/
a:link{
	color: #4B0082;
}
a:visited{
	color: #C71585;
}
a:hover{
	color: #0000FF;
}
a:active{
	color: #228B22;
}

/* Main Nav----------------------------------------------------------------------*/

#logo{
	float: left;
	display: block;
}

nav ul{
	width: 95.3125%; /* 915px/960px */
	list-style-type: none;
	padding-left: 1.041666666%; /* 10px */
	margin: 6.25% 0 0 8.333333333%; /* 60px 0px 0px 80px */
}

nav ul li{
	width: 21.25%; /* 170px/800px */
	font-size: 2.25em; /* 36px/16px */
	float: left;
	overflow: hidden;
	margin-bottom: 1.041666666%; /* 10px */
}

nav ul li a{
	text-decoration: none;
	background: #660099;
	display: block;
	height: 44px;
	line-height: 44px;
	text-align: center;
	border: 2px outset #333;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #333;
}

nav ul li a:link{
	color: #E6E6FF;
}

nav ul li a:visited{
	color: #C71585;
}

nav ul li a:hover{
	color: #000;
	background: #FFFF00;
}

nav ul li a:active{
	color: #FFFF00;
	background: #000;
}

/* Headers-----------------------------------------------------------------------*/
h1, h2, h3, h4, h5{
	font-family: 'Berkshire Swash', cursive;
	font-size: 2em;
	text-shadow: 4px 4px 4px #aaa;
	margin-bottom: 0;
	padding-bottom: 0;
}

h6{
	font-family: 'Berkshire Swash', cursive;
	font-size: 1.5em;
	text-shadow: 4px 4px 4px #aaa;
}

h1, h2, h3, h4, h5, h6{
	text-align: center;
	margin: 0;
	padding: 1.041666666% /* 10px */
}

#branding{
	text-indent: -90000px;
}

/* Mission Statement------------------------------------------------------------*/
section{
	width: 63.75%; /* 612px/960px */
	background-color: #660099;
	border: 2px outset #333;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #333;
	color: #E6E6FF;
	padding: 0 1.0416667% 1.0416667%; /* 0px 10px 10px */
	clear: left;
	float: left;
}
.mission{
	text-align: justify;
	margin: 0;
}

/* Description-------------------------------------------------------------------*/
.description{
	width: 32.083333%; /* 308px/960px */
	margin-left: 1.0416667%; /* 10px/960px */
	margin-bottom: 1.0416667%; /* 10px/960px */
	background-color: #000;
	opacity: 0.9;
	border: 2px outset #333;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #333;
	color: #E6E6FF;
	float: left;
}

ol li{
	font-size: 1.125em; /* 18px */
	margin: 0;
	padding: 0 1.0416667% 0 6.4935065%;
}

/* Testimonials-----------------------------------------------------------*/
.testimonials{
	width: 99.375%; /* 954px/960px */
	background-color: #000;
	border: 2px outset #333;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #333;
	margin-bottom: 1.0416667%; /* 10px/960px */
	color: #E6E6FF;
	clear: left;
}
.testimonials div p{
	padding: 0 1.0416667%; /* 0px 10px */
	-moz-column-count: 3; 
	-moz-column-gap: 1em; 
	-moz-column-rule: 0.10416667% /* 1px */ #E6E6FF; 
	-webkit-column-count: 3; 
	-webkit-column-gap: 1em; 
	-webkit-column-rule: 0.10416667% /* 1px */ #E6E6FF;
	text-align: justify;
}

/* Main Call to Action-----------------------------------------------------------*/

.button{
	overflow: hidden;
	display: block;
	width: 16.666667%; /* 160px/960px */
	height: 40px;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
	margin: 1.0416667% 0 1.0416667% 2.083333333%; /* 10px 0px 10px 20px */
	padding-top: 1.458333333%; /* 14px */
	border-radius: 10px;
	border: 2px outset #333;
	background-color: #FFFF99;
}

#cta{	
	width: 97.1875%;  /* 933px/960px */
	background-color: #660099;
	border: 2px outset #787878;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #888;
	color: #E6E6FF;
	padding: 0 1.0416667% 1.0416667% 1.0416667%; /* 0px 10px 10px 10px */
	margin-bottom: 2.083333333%; /* 20px */
	overflow: hidden;
}

#cta ul{
	clear: left;
	padding-left: 0.520833333%; /* 5px */
	margin-top: 0;
}

#cta ul li{
	list-style-type: none;
	float: left;
/*	padding-right: 1.5625%; /* 15px */ 
}

.img_container{
	border: 4px outset #FFFF00;
}

.img_container img{
	max-width: 100%;
}



/* Advertising-------------------------------------------------------------------*/

aside{
	width: 99.583333%; /* 956px/960px */
	clear: left;
	background-color: #888;
	border: 2px outset #333;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #333;
	color: #E6E6FF;
	margin-bottom: 2.083333333%;
}

/* Footer------------------------------------------------------------------------*/

.copyright{
	width: 97.5%; /* 936px/960px */
	background-color: #000;
	border: 2px outset #333;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #333;
	font-size: 1em;
	color: #E6E6FF;
	text-align: center;
	padding: 1.0416667%; /* 10px */
}

/* =Media Queries-----------------------------------------------------------*/

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media screen and (min-width:768px)and (max-width:959px){

}

/* Mobile Landscape size to tablet portrait (devices and browsers) */
@media only screen and (min-width:480px)and (max-width:767px){

}

/* Mobile Portrait size to Mobile Landscape size (devices and browsers) */
@media only screen and (max-width:479px){

}





